<app-navbar></app-navbar>
<br><br><br><br>
<div *ngIf="productList == false" class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Grilla de productos</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Inicio</a>
      </li>
      <li>
        <a>E-commerce</a>
      </li>
      <li class="active">
        <strong>Productos</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div *ngIf="productList == false" class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-4">
      <div class="ibox">
        <div class="ibox-content product-box">

          <div class="product-images">
            <img src="../../../../assets/img/sushi/sushi.jpg" style="height: 400px" class="img-thumbnail">
          </div>
          <div class="product-desc">
            <small class="text-muted">Nuestros Combos y Piezas</small>
            <a href="#" class="product-name"> Sushi</a>
            <div class="m-t-xs">
              El sushi es muy sano; contiene poca grasa y muchos nutrientes. Las algas, por ejemplo, están repletas de vitaminas y minerales y el pescado azul (tales como el atún o el salmón) es una buena fuente de ácidos grasos poliinsaturados. El wasabi (rábano picante japonés) y el vinagre de arroz facilitan la digestión.
            </div>
            <div class="m-t text-right">
              <a class="btn btn-xs btn-outline btn-primary" (click)="productList = true" (click)="filter='sushi'">Ver <i class="fa fa-long-arrow-right"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="ibox">
        <div class="ibox-content product-box">

          <div class="product-images">
            <img src="../../../../assets/img/sushi/wok.jpg" style="height: 400px" class="img-thumbnail">
          </div>
          <div class="product-desc">
            <small class="text-muted">Nuestros salteados</small>
            <a href="#" class="product-name"> Wok</a>
            <div class="m-t-xs">
              En Kenko incorporamos nuestra sección de salteados al Wok a nuestros deliverys. Platos nutritivos elaborados en el momento con la combinación mas equilibrada y deliciosa de vegetales, semillas, pasta y carne, sutilmente condimentados con las mas exquisitas salsas orientales.
            </div>
            <div class="m-t text-right">

              <a href="#" class="btn btn-xs btn-outline btn-primary" (click)="productList = true" (click)="filter='wok'">Ver <i class="fa fa-long-arrow-right"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="ibox">
        <div class="ibox-content product-box">

          <div class="product-images">
            <img src="../../../../assets/img/sushi/entradas.jpg" style="height: 400px" class="img-thumbnail">
          </div>
          <div class="product-desc">
            <small class="text-muted">Nuestras Entradas y Salsas</small>
            <a href="#" class="product-name"> Entradas Y Salsas</a>
            <div class="m-t-xs">
              Las entradas consisten en un plato exquisito de comida que puede consumirse en primer lugar, antes del segundo plato o plato principal durante la comida o la cena.
              <br>Se denomina salsa a toda mezcla que ingredientes cuyo fin es servir de acompañamiento a un plato, un aderezo que mejore el sabor del mismo, complementándolo o contrastándolo.
            </div>
            <div class="m-t text-right">

              <a href="#" class="btn btn-xs btn-outline btn-primary" (click)="productList = true" (click)="filter='entradas'">Ver <i class="fa fa-long-arrow-right"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="productList == true" class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12" *ngFor="let product of products">

      <div class="ibox product-detail" *ngIf="product.type==filter">
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-5">
              <ngx-slick dots="true">
                <div>
                  <div class="image-imitation">
                    [IMAGE 1]
                  </div>
                </div>
              </ngx-slick>
            </div>
            <div class="col-md-7">
              <h2 class="font-bold m-b-xs">
              {{product.name}}
              </h2>
              <small>Many desktop publishing packages and web page editors now.</small>
              <div class="m-t-md">
                <h2 class="product-main-price">{{product.price}}<small class="text-muted">ARS</small> </h2>
              </div>
              <hr>
              <h4>Product description</h4>

              <div class="small text-muted">
                {{product.description}}

                <br/>
                <br/>

              </div>
              <dl class="small m-t-md">
                <dt>Description lists</dt>
                <dd>{{product.amountPeople}} personas </dd>
                <dt>Euismod</dt>
                <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                <dt>Malesuada porta</dt>
                <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
              </dl>
              <hr>

              <div>
                <div class="btn-group">
                  <button class="btn btn-primary btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</button>
                  <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Add to wishlist </button>
                  <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Contact with author </button>
                </div>
              </div>



            </div>
          </div>

        </div>
        <div class="ibox-footer">
                            <span class="pull-right">
                                Full stock - <i class="fa fa-clock-o"></i> 14.04.2016 10:04 pm
                            </span>
          La imagen puede reflejar o no la realidad.
        </div>
      </div>

    </div>
  </div>
</div>

<div *ngIf="entradas == true" class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12" for>

      <div class="ibox product-detail">
        <div class="ibox-content">

          <div class="row">
            <div class="col-md-5">


              <ngx-slick dots="true">

                <div>
                  <div class="image-imitation">
                    [IMAGE 1]
                  </div>
                </div>
                <div>
                  <div class="image-imitation">
                    [IMAGE 2]
                  </div>
                </div>
                <div>
                  <div class="image-imitation">
                    [IMAGE 3]
                  </div>
                </div>


              </ngx-slick>

            </div>
            <div class="col-md-7">

              <h2 class="font-bold m-b-xs">
                Desktop publishing software
              </h2>
              <small>Many desktop publishing packages and web page editors now.</small>
              <div class="m-t-md">
                <h2 class="product-main-price">$406,602 <small class="text-muted">Exclude Tax</small> </h2>
              </div>
              <hr>

              <h4>Product description</h4>

              <div class="small text-muted">
                It is a long established fact that a reader will be distracted by the readable
                content of a page when looking at its layout. The point of using Lorem Ipsum is

                <br/>
                <br/>
                There are many variations of passages of Lorem Ipsum available, but the majority
                have suffered alteration in some form, by injected humour, or randomised words
                which don't look even slightly believable.
              </div>
              <dl class="small m-t-md">
                <dt>Description lists</dt>
                <dd>A description list is perfect for defining terms.</dd>
                <dt>Euismod</dt>
                <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                <dt>Malesuada porta</dt>
                <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
              </dl>
              <hr>

              <div>
                <div class="btn-group">
                  <button class="btn btn-primary btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</button>
                  <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Add to wishlist </button>
                  <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Contact with author </button>
                </div>
              </div>



            </div>
          </div>

        </div>
        <div class="ibox-footer">
                            <span class="pull-right">
                                Full stock - <i class="fa fa-clock-o"></i> 14.04.2016 10:04 pm
                            </span>
          The generated Lorem Ipsum is therefore always free
        </div>
      </div>

    </div>
  </div>
</div>
