<app-navbar></app-navbar>

<div id="inSlider" class="carousel" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#inSlider" data-slide-to="0" class="active"></li>
    <li data-target="#inSlider" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">

      <!-- Set background for slide in css -->
      <div class="header-back sushi1"></div>

    </div>
    <div class="item">
      <!-- Set background for slide in css -->
      <div class="header-back sushi2"></div>
    </div>
  </div>
  <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<section id="features" class="container services">
  <div class="row">
    <div class="col-sm-12">
      <h1>BIENVENIDOS A KENKO</h1>
      <p>
        Somos una empresa dedicada a brindar servicios gastronómicos de Sushi, salteados al Wok, Lunch y Buffet para agasajar a sus invitados y para ayudarlo a usted a ser un excelente anfitrión.

        Para eso seleccionamos cuidadosamente  la materia prima que utilizamos para realizar nuestros exquisitos productos. Privilegiamos la calidad, la creatividad y la elaboración casera para lograr que nuestros manjares sean incomparables cuidando cada detalle para brindar un excelente servicio con presentaciones únicas.

        Les damos la bienvenida a nuestro sitio…</p>
    </div>
  </div>
</section>

<section  class="container features">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>ZONA DE ENTREGA DE SUSHI: PARQUE LELOIR – CASTELAR – ITUZAINGO<br/> <span class="navy"> ABIERTO TODO EL AÑO DE MIÉRCOLES A SÁBADOS</span> </h1>
    </div>
  </div>
</section>

<section id="team" class="gray-section team">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Pagina Creada Por:</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 wow fadeInLeft">
        <div class="team-member">
          <img src="../../../../assets/img/sushi/developer.png" class="img-responsive img-circle img-small" alt="">
          <h4><span class="navy">Leonardo</span> Pasetti</h4>
          <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus. </p>
          <ul class="list-inline social-icon">
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member zoomIn">
          <img src="../../../../assets/img/sushi/developer.png" class="img-responsive img-circle img-small" alt="">
          <h4><span class="navy">Imanol</span> Lew</h4>
          <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
          <ul class="list-inline social-icon">
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 wow fadeInRight">
        <div class="team-member">
          <img src="../../../../assets/img/sushi/developer.png" class="img-responsive img-circle img-small" alt="">
          <h4><span class="navy">Leonardo</span> Guanco</h4>
          <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
          <ul class="list-inline social-icon">
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="gray-section contact">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Contactanos</h1>
      </div>
    </div>
    <div class="row m-b-lg">
      <div class="col-lg-3 col-lg-offset-3">
        <address>
          <strong><span class="navy">Kenko Sushi Lunch.</span></strong><br/>
          Francisco Ramírez 896,<br/>
          1713 ituzaingo, Buenos Aires<br/>
        </address>
      </div>
      <div class="col-lg-4">
        <p class="text-color">
          <abbr title="Phone">P:</abbr> 2086-0689 <br>
          <abbr title="Phone">P:</abbr> 4481-6533 <br>
          <abbr title="Phone">P:</abbr> 113-654-0039 <br>
          <abbr title="Phone">P:</abbr> 15-3143-3732 <br>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="mailto:contacto@kenkosushilunch.com.ar" class="btn btn-primary">Envianos Un Mail</a>
        <p class="m-t-sm">
          O siguenos en nuestras redes sociales
        </p>
        <ul class="list-inline social-icon">
          <li><a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p><strong>&copy; 2017 Kenko Sushi Lunch</strong><br/> Universidad Nacional de Avellaneda</p>
      </div>
    </div>
  </div>
</section>
